<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>AngularTest</title>
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Latest compiled Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    
    <link href="common_styles.css" rel="stylesheet"/>
</head>
<body>
<div class="container border border-primary rounded mt-2">
    <h1>AngularTest Projesi</h1>
    <p>
    Son projem Angular platformunda soru bankası ve test oluşturacak bir uygulamadır.<br />
    Uygulama projesine github.com üzerinden,<br />
        <a href="https://github.com/freebelion/AngularTest">https://github.com/freebelion/AngularTest</a>
        <br />
    adresinden erişebilirsiniz.<br />
    Aşağıda bu projeyi oluştururken izlediğim adımları açıklayacağım.
    </p>
</div>

<div class="container border border-primary rounded mt-2">
	<h2>Ön Hazırlıklar</h2>
    <p>
    Bilgisayarınızda henüz Angular kurulumu yapmadıysanız,
    öncelikle <strong>node.js</strong> ve <strong>npm</strong>
    kurulumu yapmış olmalısınız.
    </p>
    <ul class="list-group">
        <li class="list-group-item">
            Windows ortamında çalışıyorsanız,
            <a href="https://nodejs.org/en/download/">https://nodejs.org/en/download/</a>
            sitesinden en son kurulum dosyasını
            indirip kurulum yapınız.
            Bundan sonra, Windows komut penceresinde
            <strong>(cmd)</strong>
            veya yönetici yetkisiyle açacağınız
            bir Powershell penceresinde<br />
            <kbd>npm install -g @angular/cli</kbd><br />
            komutunu çalıştırarak Angular kurulumunu yapabilirsiniz.
            <ul class="list-group">
                <li class="list-group-item m-1">
                    Powershell kullanacaksanız,
                    (daha önce yapmadıysanız)<br />
                    <kbd>Set-ExecutionPolicy RemoteSigned</kbd><br />
                    komutuyla kendinize
                    skript çalıştırma izni vermeniz gerekebilir.
                </li>
            </ul>
        </li>
        <li class="list-group-item">
            Linux ortamında çalışıyorsanız,
            paket yöneticisiyle kuracağınız node.js ve npm
            eski bir sürüm olabileceği için,
            Angular kurmaya kalktığınızda hata mesajıyla karşılaşabilirsiniz.
            Böyle bir durumda ya node.js ve npm sürümlerinizi yenilemek,
            ya da paket yöneticisine başka kaynaklar ekleyip
            oradan son sürümleri kurmak yoluna gidebilirsiniz.
            Bir başka yol da <strong>nvm</strong>
            paketini kurup, onun aracılığıyla
            son <strong>node.js</strong> ve <strong>npm</strong> sürümlerini kurmaktır.
        </li>
    </ul>
</div>

<div class="container border border-primary rounded mt-2">
	<h2>Projeyi Oluşturmak</h2>
    <p>
    Bu projenin bazı aşamalarında Angular CLI (komut arabirimi) kullanacağım,
    ama projeyi onunla oluşturmadım.
    Visual Studio ortamını proje organizasyonunu gözden kaçırmadan
    kod dosyalarını düzenlemek için kullanacağım.
    </p>
    <div class="row border border-secondary rounded m-1">
        <div class="col-lg-8">
            <img src="images/Resim1_AngularProjesiOlusturmak.png" class="img-fluid" alt="Angular Projesi Oluşturmak"/>
        </div>
        <div class="col-lg-4">
            Proje şablonu olarak, Web platformu kategorisinden
            Standalone Angular şablonunu seçtim.
        </div>
    </div>
</div>

<div class="container border border-primary rounded mt-2">
	<h3>Proje Görünümü</h3>
    <div class="row border border-secondary rounded m-1">
        <div class="col-lg-8">
            <img src="images/Resim2_AngularProjesiOlusturuldu.png" class="img-fluid" alt="Angular Projesi Oluşturuldu"/>
        </div>
        <div class="col-lg-4">
            Proje Angular CLI ortamındaki gibi oluşturuldu.
            Tek fark, Visual Studio'nun kendisi için oluşturduğu ek proje dosyalarıydı.
            Projeyle oluşturduğum uygulama bir web sayfasında görüntüleneceği için,
            çalıştırma ortamı olarak bilgisayarımdaki varsayılan web tarayıcısını seçtim.
        </div>
    </div>
</div>

<div class="container border border-primary rounded mt-2">
	<h3>Projeyi Çalıştırmak</h3>
    <div class="row border border-secondary rounded m-1">
        <div class="col-lg-8">
            <img src="images/Resim3_AngularProjesiCalistirmak.png" class="img-fluid" alt="Angular Projesi Çalıştırmak"/>
        </div>
        <div class="col-lg-4">
            Visual Studio ortamından ayrılmadan,
            az önce uygulama başlatıcısı olarak tarayıcıyı seçtiğim
            düğmeyi tıklayarak uygulamayı çalıştırdım.
            Bir süre sonra geri planda açılan komut penceresinde
            <kbd>ng serve</kbd> komutunun çalıştırıldığını gördüm.
            Ekrana otomatik gelen tarayıcı penceresi
            <strong>localhost:4200</strong> adresinden Angular uygulamasının
            geçici ilk şablonunu görüntüledi.
        </div>
    </div>

    <div class="row border border-secondary rounded m-1">
        <p>
        Visual Studio ortamında çalışırken uygulamayı kapattığımda
        tarayıcı penceresi kapanıyor ama komut penceresi açık kalıyor,
        onu ayrıca kapatmam gerekiyordu.<br />
        Ben yerel sunucuyu Visual Studio Terminal penceresinden açtığım
        Powershell komut arabiriminden çalıştırmayı tercih ettim.<br />
        Uygulama sayfasına da normalde kullandığım tarayıcıda
        <strong>localhost:4200</strong> adresinden eriştim.<br />
        Böylelikle, Visual Studio ortamında yaptığım kod düzenlemelerinin
        sonuçlarını tarayıcıda açık kalan uygulama sayfasında görebiliyordum.
        </p>
    </div>
</div>

<div class="container border border-primary rounded mt-2">
    <h3>Projeye npm Modülü Eklemek</h3>
    <div class="row border border-secondary rounded m-1">
        <div class="col-lg-8">
            <img src="images/Resim4_npmBootstrapModülüEklemek.png" class="img-fluid" alt="Bootstrap Modülü Eklemek"/>
        </div>
        <div class="col-lg-4">
            Bu uygulamanın web arayüzünde bootstrap kullanmaya karar vermiştim.
            Bu eklemeyi Powershell arabiriminde proje klasörüne inip,<br />
            <kbd>npm install bootstrap</kbd> <br />
            komutunu çalıştırarak yaptım.
        </div>
    </div>
    <div class="row border border-secondary rounded m-1">
        <p>
            Proje öğelerinin (components) html görünümlerinde
            Bootstrap stillerini kullanabilmek için,
            projenin <strong>angular.json</strong> dosyasına
            bootstrap stil ve skript dosyalarının referanslarını ekledim:
        </p>
<pre>
<code class="fw-bold">
"styles": [
    "node_modules/bootstrap/dist/css/bootstrap.min.css",
    "src/styles.css"
],
"scripts": [
    "node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"
]
</code>
</pre>
    </div>
    <div class="row border border-secondary rounded m-1">
    <p>
    Projenin uygulama öğesine ait
    <strong>app.component.html</strong>
    dosyasındaki geçici içerik şablonunu silip,
    yerine aşağıdaki deneme içeriğini yerleştirdiğimde
    bootstrap stillerinin beklediğim görünümü sağladığını gördüm.
    </p>
    </div>
    <div class="row border border-secondary rounded m-1">
        <div class="col-lg-7">
<pre>
<code class="fw-bold">
&lt;div class="container border border-primary rounded mt-5"&gt;
    &lt;h1 class="text-center"&gt;{{title}} Uygulaması Çalışmaya Hazırdır!&lt;/h1&gt;

    &lt;div class="row m-2"&gt;
    &lt;div class="col border border-secondary"&gt;
        &lt;h2 class="text-center"&gt;Soru Bankası&lt;/h2&gt;
    &lt;/div&gt;
    &lt;div class="col border border-secondary"&gt;
        &lt;h2 class="text-center"&gt;Soru Bankası&lt;/h2&gt;
    &lt;/div&gt;
    &lt;div class="col border border-secondary"&gt;
        &lt;h2 class="text-center"&gt;Soru Bankası&lt;/h2&gt;
    &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
        </div>
        <div class="col-lg-5">
            <img src="images/Resim5_BootstrapDenemeIcerigi.png" class="img-fluid" alt="Bootstrap Deneme İçeriği"/>
        </div>
    </div>
</div>

<div class="container border border-primary rounded mt-2">
    <h2>Angular Projesine Kodlar Eklemek</h2>

    <div class="row border border-secondary rounded m-1">
        <h3>Soru Bankasını Temsil Edecek <code>Testbank</code> Sınıfı</h3>
        <p>
            Artık projeye işlerlik kazandırma zamanı gelmişti.
            Visual Studio ortamında açtığım terminal penceresinde aşağıdaki komutu çalıştırarak,
            uygulamayla oluşturulacak soru bankalarını temsil edecek yeni bir sınıf (class) ekledim.
        </p>
        <pre>
            <code>
   ng generate class Testbank
            </code>
        </pre>
    
    <p>
        Bu komutla projeye eklenen <b>testbank.ts</b> dosyasındaki sınıf tanımı
        uygulama çalışırken oluşturulup düzenlenecek bir soru bankasını temsil edecekti.
        Bu kod dosyasındaki sınıf tanımına, temsil edeceği soru bankasına ait
        kimlik (<b>id</b>), isim (<b>name</b>) ve açıklama (<b>description</b>)
        bilgilerini saklayacak üye değişken tanımları koydum:
    </p>
    <pre>
        <code>
private id: Guid;
public name: string;
public description: string;
        </code>
    </pre>

    <p>
        Farklı kullanıcıların bilgisayarlarından gelmiş olan
        soru bankalarının bile ayırt edilmesini sağlasın diye,
        <strong>Guid</strong> yani uzun bir tamsayı türünden
        bir kimlik bilgisi olmalıydı.
    </p>
    <p>
        Bu veri türünü kullanabilmek için, <b>npm</b> ile
        ilgili modülü projeye ekledim:
    </p>
    <pre>
        <code>
npm install guid-typescript --save
        </code>
    </pre>

    
    <p>
        <b>testbank.ts</b> kod dosyasına bu yeni modülün referansını ekledim
        ve sınıf tanımındaki kurucu fonksiyonla her yeni nesneye ayırt edici 
        bir kimlik olarak yeni bir <b>Guid</b> değeri atayacak komutu ekledim:
    </p>
    <pre>
        <code>
<strong>import { Guid } from 'guid-typescript';</strong>

export class Testbank {
    private id: Guid;
    public name: string;
    public description: string;

    constructor() {
    <strong>this.id = Guid.create();</strong>
    this.name = "Testbank " + this.id.toString().split('-')[0];
    this.description = "Testbank description";
    }
}
        </code>
    </pre>

    <p>
        Bu kurucu fonksiyonda soru bankasının adını <b>Guid</b> bilgisiyle
        oluşturacak ve jenerik bir açıklama ekleyecek atamaları da eklemiştim.
    </p>
    <p><em>
        <code>toString()</code> fonksiyonu ile <code>Guid</code> türü
        kimlik bilgisi karakter dizgisine dönüştürmüştüm.<br />
        Sonuç metnini de <code>'-'</code> karakterlerinin gözüktüğü yerlerden
        ayırmak için <code>split()</code> fonksiyonunu kullandım.<br />
        Bu fonksiyonun sonuçta oluşturduğu karakter dizgileri dizisinin
        <code>[0]</code> numaralı ilk elemanı kimlik bilgisinin ilk kısmı
        olarak soru bankası adına ekledim.<br />
        Daha ileriki aşamalarda soru bankasının adını belirlemek
        kullanıcıya bırakılacaktır; bu kodlar geçici ad belirlemek içindi.
    </em></p>
 
    </div>

    <div class="row border border-secondary rounded m-1">
        <h3>Soruyu Temsil Edecek <code>Question</code> Sınıfı</h3>
        <p>
            Bu uygulamanın oluşturacağı soru bankalarında,
            metin biçimlendirmeye ve web sayfalarındaki temel düzey öğeleri
            yerleştirme imkanı verecek HTML içeriği olan sorular olacak.<br />
            Dolayısıyla, bir soruyu temsil edecek sınıfı yine<br />
            <code>ng generate class Question</code><br />
            komutuyla oluşturdum ve sınıf kod dosyasını başlangıçta
            aşağıdaki gibi düzenledim:
        </p>
<pre>
<code>
import { Guid } from 'guid-typescript';

export class Question {
  private id: Guid;
  public htmlContent: string;
  
  constructor() {
    this.id = Guid.create();
    this.htmlContent = "Question <b>" + this.id.toString().split('-')[0] + "</b>";
  }
}
</code>
</pre>
        <p>
            <b>testbank.ts</b> kod dosyasındaki sınıf tanımına da,
            bir soru bankasının içereceği sorular dizisi 
            ve herhangi bir anda seçili sorunun referansını 
            saklayacak özellik tanımını ekledim:
        </p>
<pre>
<code>
import { Guid } from 'guid-typescript';
<strong>import { Question } from './question';</strong>

export class Testbank {
  private id: Guid;
  public name: string;
  public description: string;
  <strong>public questions: Array<Question>;</strong>
  <strong>public selectedQuestion: Question | undefined;</strong>
  
  constructor() {
    this.id = Guid.create();
    this.name = "Testbank " + this.id.toString().split('-')[0];
    this.description = "Testbank description";
    <strong>this.questions = [];</strong>
  }
<strong>
  addQuestion() {
    this.questions.push(new Question);
  }

  selectQuestion(que: Question) {
    this.selectedQuestion = que;
  }
</strong>
}
</code>
</pre>
        <p>
            Bu sınıf tanımındaki <b>addQuestion()</b> fonksiyonu
            soru bankasına yeni sorular eklenmesini sağlayacakt,
            <b>selectQuestion()</b> fonksiyonu da referansı gönderilen
            bir soru nesnesini seçili olarak işaretleyecektir.
        </p>
    </div>

    <div class="row border border-secondary rounded m-1">
        <h3>Seçeneği Temsil Edecek <code>Choice</code> Sınıfı</h3>
        <p>
            Çoktan seçmeli soruların alt kısmında yer alacak seçenekleri
            temsilen oluşturduğum <code>Choice</code> sınıfının tanımı
            son derece basitti:
        </p>
<pre>
<code>
export class Choice {
  public htmlContent: string;

  constructor() {
    this.htmlContent = '&lt;i&gt;choice&lt;i&gt;';
  }
}
</code>
</pre>
        <p>
            Bir sorudaki seçenekler o soruya ait olacakları için
            bir sorudan diğerine veya bir soru bankasından diğerine
            transfer edilmeleri söz konusu değildi.
            Bu nedenle ayırt edici bir <b>Guid</b> kimliğine gerek yoktu.<br />
            Yalnızca biçimlendirilebilir bir metin içeriği olsun
            diye, <b>htmlContent</b> diye bir özellik yeterliydi.
        </p>
        <p>
            Tabi, bir soruda olacak seçenekleri temsilen,
            <code>Question</code> sınıfı tanımında
            bu <code>Choice</code> sınıfı türünden bir dizi tanımı
            ve herhangi bir anda seçili olan seçeneğin
            referansını saklayacak bir değişken tanımı da ekledim:
        </p>
<pre>
<code>
import { Guid } from 'guid-typescript';
<strong>import { Choice } from './choice';</strong>

export class Question {
  private id: Guid;
  public htmlContent: string;
  <strong>public choices: Array<Choice>;</strong>
  <strong>public selectedChoice: Choice | undefined;</strong>

  constructor() {
    this.id = Guid.create();
    this.htmlContent = "Question <b>" + this.id.toString().split('-')[0] + "</b>";
    <strong>this.choices = [];</strong>
  }

  addChoice() {
    this.choices.push(new Choice);
  }

  selectChoice(cho: Choice) {
    this.selectedChoice = cho;
  }

  deleteChoice(cho = this.selectedChoice) {
    if (cho) {
      let index = this.choices.indexOf(cho, 0);
      if (index > -1) {
        this.choices.splice(index, 1);
      }
    }
  }
}
</code>
</pre>
    </div>
</div>

<div class="container border border-primary rounded mt-2">
    <h2>Angular Projesine Görselleştirici Öğeler Eklemek</h2>
        <p>
            Yukarıda oluşturduğumuz sınıflar temsil ettikleri nesnelerin
            (soru bankası, soru, seçenek) bilgilerini saklayacaktır,
            ama bunlardan biri seçildiği zaman, seçili nesneye ait
            ayrıntıları görüntüleyecek görselleştirici öğelere gerek vardır.
        </p>
    <div class="row border border-secondary rounded m-1">
        <h3>Soru Bankasını Görselleştirecek <code>TestbankDetail</code> Öğesi</h3>
            <p>
                Seçili soru bankasının ayrıntılarını görüntüleyecek öğeyi
                <code>ng generate component TestbankDetail</code><br />
                komutuyla oluşturdum ve sınıf kod dosyasını 
                aşağıdaki gibi düzenledim:
            </p> 
<pre>
<code>
import { Component, OnInit, Input } from '@angular/core';
import { QuestionDetailComponent } from '../question-detail/question-detail.component';
<strong>import { Testbank } from '../testbank';</strong>
<strong>import { Question } from '../question';</strong>

@Component({
  selector: 'app-testbank-detail',
  templateUrl: './testbank-detail.component.html',
  styleUrls: ['./testbank-detail.component.css']
})
export class TestbankDetailComponent implements OnInit {

  <strong>@Input() displayTestbank: Testbank | undefined;</strong>
 
  constructor() { }

  ngOnInit(): void {
  }
}
</code>
</pre>
        <p>
            Bu sınıf tanımı görüntüleyeceği soru bankasının referansını
            <b>displaytestbank</b> adlı değişkeninde saklayacak.
            O bilgiyi de kendisini kapsayan uygulama görselleştiricisinden
            (<b>app.component</b>) alacağı için onu
            <b>@Input</b> terimiyle etiketliyor.<br />
            <em>Bunun anlamını bir aşağıda göreceğiz.</em>
        </p>

        <p> </p>

        <p>
            Görselleştirici sınıfın tanımı yukarıdaki gibiydi.
            Asıl görseli yani soru bankasının ayrıntılı görünümünü
            oluşturacak html dosyasını da şu şekilde düzenledim:
        </p>
<pre>
<code>
&lt;div class="container-fluid app-container" *ngIf="displayTestbank"&gt;
  &lt;div class="row"&gt;
    &lt;nav class="navbar navbar-expand mt-1 mb-1"&gt;
      &lt;span class="label m-1"&gt;Editing Testbank&lt;/span&gt;
      &lt;button type="button" class="btn btn-light btn-sm m-1"
              (click)="displayTestbank.addQuestion()"&gt;
        &lt;img class="img-fluid" src="assets/btnAddQuestion.png" width="25" alt="Add Question"&gt;
        Add Question
      &lt;/button&gt;
      &lt;button type="button" class="btn btn-light btn-sm m-1"
              (click)="displayTestbank.deleteQuestion()"&gt;
        &lt;img class="img-fluid" src="assets/btnDeleteQuestion.png" width="25" alt="Delete Question"&gt;
        Delete Question
      &lt;/button&gt;
    &lt;/nav&gt;
  &lt;/div&gt;

  &lt;div class="row border border-primary rounded"&gt;
    &lt;input type="text" class="form-control" [(ngModel)]="displayTestbank.name"/&gt;
    &lt;textarea class="form-control" [(ngModel)]="displayTestbank.description" rows="3"&gt;

    &lt;/textarea&gt;
  &lt;/div&gt;

  &lt;div class="row mt-2 mb-2"&gt;
    &lt;app-question-detail [displayQuestion]="displayTestbank.selectedQuestion"&gt;&lt;/app-question-detail&gt;
  &lt;/div&gt;

  &lt;div class="row mt-2 mb-2"&gt;
    &lt;div *ngFor="let que of displayTestbank.questions" class="card border border-primary mt-1 mb-1" (click)="displayTestbank.selectQuestion(que)"
            [class.selected]="que === displayTestbank.selectedQuestion"&gt;
      &lt;div class="card-body" [innerHTML]="que.htmlContent"&gt;
     
      &lt;/div&gt;
      &lt;div class="card-footer row"&gt;
        &lt;div *ngFor="let cho of que.choices; index as i" class="{{que.colClass}}" [innerHTML]="cho.htmlContent"&gt;&lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
    </div>
</div>

</body>
</html>