body {
    background-image: url("beige-tiles.png");
    background-repeat: repeat;
    font-size: large;
}

.list-group-item {
    background-color: rgba(255, 255, 255, .25);
    backdrop-filter: blur(25px);
}

pre {
    background-color: rgba(255, 255, 255, .25);
    backdrop-filter: blur(25px);
}

.container {
    border-radius: .35rem;
    background-color: rgba(225, 225, 225, .25);
    backdrop-filter: blur(25px);
}

.row {
    background-color: rgba(200, 200, 200, .25);
}

.row p {
    background-color: rgba(175, 175, 175, .25);
    padding: 0.25rem;
}