body {
    background-image: url("beige-tiles.png");
    background-repeat: repeat;
}

.list-group {
    margin: .25em;
    padding: .15em;
}

.list-group-item {
    margin: .25em;
    padding: .15em;
    background-color: rgba(255, 255, 255, .25);
    backdrop-filter: blur(25px);
}

.myrow {
    @extend row;
    margin: .25em;
    padding: .15em;
    background-color: rgba(200, 200, 200, .25);
    backdrop-filter: blur(25px);
}